nav {

	/*width:100%;*/
	background-color: #131339;
	color: white;
	height: 40px;
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 17px;
}


body {
   background-color: white;
  font-family: "Times New Roman", Times, serif;
   margin: 0;
}

section {

   line-height: 1.5;
   background-color: whitesmoke;
   -webkit-box-shadow: 0 10px 6px -6px #777;
   -moz-box-shadow: 0 10px 6px -6px #777;
   box-shadow: 0 10px 6px -6px #777;
   margin: 14px;
   padding: 30px;
}

form {
	margin: 5px;
	line-height: 2;
}

footer {

	background-color: #131339;
	color: white;
	height: 30px;
	padding-left: 45px;
	padding-right: 40px;
	padding-top: 13px;
}

label
{
	margin-right:20px;
	font-weight: 440;
	font-size: 15px;
}

#footerText {
	float:left
}


table {
	border-collapse: collapse;
    border: 0.5px solid black;
    margin-left: 50px;
    margin-top: 20px;
}

td, th {
	border: 0.5px solid black;
	padding: 10px;
}


/*CLASS BASED SELECTORS*/
.form-button {
	float: right;
    margin: 3px;
    height: 25px;
    border: none;
    color:white;
	background-color: #4d4d4d ;
	border-radius:20px;	
}

.section-title {

	font-size: 17px;
    font-weight: 600;
}

.section-title-second 
{
	padding-top: 5px;
	margin-top:5px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	font-size: 19px;
    font-weight: 457;
}

.panel
{
	display:none;
}


/*DECENDANT BASED SELECTORS*/
form div {
	margin: 10px;
}

footer span {
	float: right;
}

nav span {
	float: right;
}

/*ID BASED SELECTORS*/
#content {
   display: inline-block;
   margin-left: 150px;
   margin-top: 20px;
   width: 50%;
}



#name {
	font-size: 28px;
    font-weight: 600;
}

#name-footer {
	font-size: 18px;
}

#about {
	margin: 10px;
	margin-left: 0;
}

#contact-form {
	display: inline-block;
	width:25%;
	background-color: whitesmoke;
	vertical-align: top;
	margin-top: 30px;
}

#img-interests {
    margin-top: 15px;
    margin-left: 55px;
}

/*Class + Id selectors*/
.contact-form {
	font-size: 15px;
}

.contact-form #contact-name {                 
	font-size: 16px;
}

.contact-form #country {                      
	font-size: 14px;
}

#email {
   font-size: 14px;
}

#url {
    font-size: 14px;
}


